<html>
    <body>
        <h1>User Data Page</h1><br>

        <!-- add user to Users file -->
        <% if(option==1) { %>
            <form action="/login/menu/edit/userData" method="POST">
                
                <input type="hidden" name="do" value=1><br/><br/>
                User: <input type="text" name="user" required><br/><br/>
                Password: <input type="password" name="psw" required><br/><br/>
                Created Date: <input type="date" name="date" required><br/><br/>
                Num Of Transactions: <input type="number" name="number" min="1" required><br/><br/>
                <input type="submit" value="Save">
        
            </form>
        <% } %>  
        
        <!-- update user in Users file -->
        <% if(option==2) { %>
            <form action="/login/menu/edit/userData" method="POST">

                <input type="hidden" name="do" value=2><br/><br/>
                <input type="hidden" name="previous" value="<%= data.Username %>"><br/><br/>
                User: <input type="text" name="user" value="<%= data.Username %>"><br/><br/>
                Password: <input type="text" name="psw" value="<%= data.Password %>"><br/><br/>
                Created Date: <input type="date" name="date" value="<%= data.CreatedDate %>"><br/><br/>
                Num Of Transactions: <input type="number" name="number" min="0" value="<%= data.NumOfTransactions %>"><br/><br/>
                <input type="submit" value="Update">
        
            </form>
        <% } %> 
        
    </body>
</html>