<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <title><%= movie.name %></title>
  </head>
  
  <body>
    <h1>Movie Data Page</h1>

    <div class="box" style="font-size: 18px;">
      <img src= "<%= image %>">
      <span><b>Id:</b> <%= movie.id %></span>
      <span><b>Name:</b> <%= movie.name %></span>
      <span><b>Genres:</b> <%= movie.genres %></span>
      <span><b>Language:</b> <%= movie.language %></span>
    </div>

    <div class="flex-column" style="gap: 15px; padding-top: 15px;">
      <a href="/menu/search/results">Back to Search Results Page</a>
      <a href="/menu">Back to Menu Page</a>
    </div>
  </body>
</html>