<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <title>User Data</title>
  </head>
  
  <body>
    <h1>User Data Page</h1>

    <form action="/menu/edit/userData" method="POST">
      <div class="box">
        <!-- add user to Users file -->
        <% if(option==1) { %>
          <input type="hidden" name="do" value=1>
          <input placeholder="Enter User Name" type="text" name="user" required>
          <input placeholder="Enter Password" type="text" name="psw" required>
          <input placeholder="Enter Num Of Transactions" type="number" name="number" min="1" required>
          <span>Creation Date: <input type="date" name="date" required></span>
          <button>Save</button>
        <% } %>

        <!-- update user in Users file -->
        <% if(option==2) { %>
          <input type="hidden" name="do" value=2>
          <input type="hidden" name="previous" value="<%= data.Username %>">
          <span>User: <input type="text" name="user" value="<%= data.Username %>" required></span>
          <span>Password: <input type="text" name="psw" value="<%= data.Password %>" required></span>
          <span>Num Of Transactions: <input type="number" name="number" min="0" value="<%= data.NumOfTransactions %>" required></span>
          <span>Created Date: <input type="date" name="date" value="<%= data.CreatedDate %>"></span>
          <button>Update</button>
        <% } %>
      </div>
    </form>
  </body>
</html>